@tailwind base;
@tailwind components;
@tailwind utilities;

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-mulish {
  font-family: 'Mulish', sans-serif;
}

body {
  @apply bg-gradient-to-b from-black-start to-black-end min-h-100vh text-[10px] xsx:text-[12px] sm:text-[14px] md:text-[18px] lg:text-[22px];
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #5692e8;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #5692e8;
}

::-webkit-scrollbar-thumb {
  background-color: #182c47;
  border: 2px solid #182c47;
}